.App {
  text-align: center;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  align-items: center;
  min-height: 100vh;


}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.validation-message {
  color: indianred;
}

.priorityListItem {
  list-style-position: inside;
  font-size: 80px;
}

.priority {
  font-size: calc(10px + 2vmin);
  background-color: white;
  border-radius: 10px;
  margin:10px;
  color: black;
  display: inline-block;
  width: 80vw;
  text-align: left;
}

.priorityName {
  font-weight: bold;
  display: inline-block;
  padding-left: 10px;
}

.priorityTitle {
  text-align: left;
}

.priorityDone {
  display: inline-block;
  float: right;
  margin-right: 20px;
  margin-top: 20px;
  border: none;
  background-color: lightgreen;
  padding: 7px 15px;
  border-radius: 5px;
  font-size: calc(5px + 2vmin);
  cursor: pointer;
}

.priorityDescription {
  display: block;
  text-align: left;
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-bottom: 0em;
  padding-left: 10px;
  padding-right: 10px;
}

.taskName {
  font-size: 20px;
}

.showHideTasks {
  border: none;
  margin: 10px;
  float: right;
  background-color: white;
  font-size: 20px;
}

.tasks {
  float: left;
  margin: 10px;
}

.taskList {
  list-style: none;
  padding: 0px;
}

.taskDone {
  border: none;
  background-color: white;
}

.taskDone:hover .circle-icon,
.taskDone .check-circle-icon {
  display: none;
}
.taskDone:hover .check-circle-icon {
  display: inline;
}

.contextsList {
  align-self: start;
  text-align: left;
  list-style: none;
}

.listedContext {
  margin: 0;
}